<div class="row">
    <div class="col">
        <button class="btn btn-sm btn-primary" (click)="modalOpen()">Create</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Couch</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of teams">
                    <td>*</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.country }}</td>
                    <td>{{ team.couch }}</td>
                    <td>
                        <button class="btn btn-sm btn-warning me-2"><i class="far fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade mt-5" tabindex="-1" id="create_update" [ngClass]="{'show':showModal}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="modalClose()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]='teamForm' (submit) = "submit()">
                    <div class="form-floating mb-2">
                        <input formControlName="name" type="name" class="form-control" id="name" placeholder="Team Name"
                            autocomplete="off">
                        <label for="name">Team Name</label>
                        <!-- <small [class.is-invalid] = "name.invalid || name.untouched">Name Is Required</small> -->
                    </div>

                    <div class="form-floating mb-2">
                        <select formControlName="country" class="form-select" id="country" ng-options="">
                            <option *ngFor="let country of countries" [ngValue]="country.name">
                                {{ country.name }}
                            </option>
                        </select>
                        <label for="country">Country</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input formControlName="couch" type="couch" class="form-control" id="couch"
                            placeholder="Couch Name" autocomplete="off">
                        <label for="couch">Couch Name</label>
                    </div>
                    <div class="float-end">
                        <button type="button" class="btn btn-sm btn-secondary me-1" data-bs-dismiss="modal"
                        (click)="modalClose()">Close</button>
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>